<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Percobaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar" style="background-color: rgb(0, 221, 0);">
        <div class="container-fluid">
          <a class="navbar-brand" style="margin: auto;">
            Ni Putu Tiara Saraswati
        </div>
      </nav>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: auto;">ID</th>
            <th scope="col" style="width: auto;">Nama</th>
            <th scope="col" style="width: auto;">NIT</th>
            <th scope="col" style="width: auto;">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (user) { %> <% user.forEach((item)=>{ %>
          <tr>
            <th scope="row"><%= item.id %></th>
            <td><%= item.nama %></td>
            <td><%= item.nit %></td>
            <td>
              <a 
                class="btn btn-success" 
                href="edit/<%= item.id %>">Edit
              </a>
              <a 
                class="btn btn-danger" 
                href="delete/<%= item.id %>">Hapus
              </a></td>
          </tr>
        <%}) %> <% } %>
        </tbody>
      </table>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Tambah Data
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post">
        <div class="modal-body">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ID</label>
                <input type="number" name="id" class="form-control" id="exampleFormControlInput1" placeholder="Input ID">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nama</label>
                <input type="text" name="nama" class="form-control" id="exampleFormControlInput1" placeholder="Input Nama">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">NIT</label>
                <input type="text" name="nit" class="form-control" id="exampleFormControlInput1" placeholder="Input NIT">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
          <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
        </form>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>